/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .hero-slide-item {
    padding-top: 50%;
  }

  .item-content-wraper {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 0 15px;
  }

  .hero-slide-item {
    height: max-content;
    padding-top: unset;
  }

  .item-content-wraper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .hero-slide-item-content {
    position: relative;
  }

  .hero-slide-item img {
    height: 100%;
  }

  .item-content-title {
    font-size: 3rem;
  }

  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #000000;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    margin: 10px 30px;
  }

  .nav-menu.active {
    left: 0;
  }

  .about-content {
    flex-direction: column !important;
  }

  .col-md-6 {
    width: 80%;
    display: grid !important;
    place-items: center !important;
  }

  .about-section {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .reviews_container {
    width: 280px;
  }

  .box_comments {
    width: 250px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .testimonial-box {
    width: auto;
  }

  .reviews {
    font-size: 12px;
  }

  div.profile {
    font-size: 10px;
  }

  .reviews label {
    font-size: 1.5rem;
  }

  label.fas.fa-star {
    margin-right: 5px;
  }

  #commentForm {
    padding: 20px;
  }

  .profile-image {
    height: 300px;
  }
}
